$primary-color: darkgreen;
$secondary-color: crimson;
$default-color: black;

$major-padding: 0 25px 25px 25px;

$input-border-radius: 2px;
$input-border: 1px solid #dedede;
$input-font-size: 14px;
$input-height: 30px;
$standard-input-width: 50%;
